<div class="editlogdiv">

  <div class="editlogcontent">

    <h1><%= @datelog.rendezvous_time %></h1>

    <ul class="companion">
      <li>Date Companion(s): <% if @datelog.romantic_interest.!=('') %>
      <%= @datelog.romantic_interest %>
      <% else %>
      no persons listed
      <% end %></li>
      <li>Notes: <% if @datelog.notes.!=('') %>
      <%= @datelog.notes %>
      <% else %>
      no notes listed
      <% end %></li>
    </ul>

    <h1>Edit Your Date Log:</h1>
    <%= erb(:errors, :locals => { :object => @datelog }) %>
    <form class="editlogform" action="/datelogs/<%= @datelog.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="rendezvous_time">When did you go on your date?</label>
      <input type="date" name="rendezvous_time" id="rendezvous_time" value="<%= @datelog.rendezvous_time %>">
      <label for="romantic_interest">Please enter any persons you went on the date with:</label>
      <input type="text" name="romantic_interest" id="romantic_interest" value="<%= @datelog.romantic_interest %>">
      <label for="notes">Add notes here:</label>
      <textarea name="notes" id="notes" rows="6"><%= @datelog.notes %></textarea>
      <button type="submit">Edit Date Log</button>
    </form>
    <form class="deleteform" action="/datelogs/<%= @datelog.date_idea.id %>/<%= @datelog.id %>" method="post">
       <input type="hidden" name="_method" value="delete">
       <button type="submit">Delete Date Log</button>
    </form>
  </div>

</div>
