<h1>Edit Your Date Log:</h1>
<form action="/datelogs/<%= @datelog.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="rendezvous_time">When did you go on your date?</label>
  <input type="date" name="rendezvous_time" id="rendezvous_time" value="<%= @datelog.rendezvous_time %>">
  <label for="romantic_interest">Please enter any persons you went on the date with:</label>
  <input type="text" name="romantic_interest" id="romantic_interest" value="<%= @datelog.romantic_interest %>">
  <label for="notes">Add notes here:</label>
  <textarea name="notes" id="notes" rows="6"><%= @datelog.notes %></textarea>
  <button type="submit">Edit Date Log</button>
</form>
<form class="deleteform" action="/datelogs/<%= @datelog.date_idea.id %>/<%= @datelog.id %>" method="post">
   <input type="hidden" name="_method" value="delete">
   <button type="submit">Delete Date Log</button>
</form>
