<h1>Update
  <%=@date_idea.name%>'s Information
</h1>

<%= erb(:errors, :locals => { :object => @date_idea }) %>
<div class="actionform">

  <form class="editform" action="/dates/<%= @date_idea.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

      <input type="text" name="name" value="<%= @date_idea.name %>" placeholder="Name" required>

    <% if @date_idea.address.==("\n,") %>

      <textarea rows='3' name="address" placeholder="Address"></textarea>

    <% else %>

      <textarea rows="3" name="address" id="address" placeholder="Address"><%= @date_idea.address %></textarea>

    <% end %>

    <textarea rows="8" name="description" id="description" placeholder="Description"><%= @date_idea.description %></textarea>

    <button type="submit">Edit Date</button>
  </form>

  <form class="deleteform" action="/dates/<%= @date_idea.id %>" method="post">
     <input type="hidden" name="_method" value="delete">
     <button type="submit">Delete Date</button>
  </form>

</div>
<button type="button"><a href="/dates/<%= @date_idea.id %>">Back to <%= @date_idea.name %>'s Page</button>
