<div class="listdatespic">
  <h1>Dates</h1>
</div>

<div class="datelist">
  <% if @date_ideas == [] %>
  <p>There are no dates saved in the database yet.</p>
  <% else %>
  <ul>
    <% @date_ideas.each() do |date_idea| %>
    <li>
      <span class = "fa <%= (date_idea.rating.<(1))? 'fa-heart-o':'fa-heart' %>"></span>
      <span class = "fa <%= (date_idea.rating.<(2))? 'fa-heart-o':'fa-heart' %>"></span>
      <span class = "fa <%= (date_idea.rating.<(3))? 'fa-heart-o':'fa-heart' %>"></span>
      <span class = "fa <%= (date_idea.rating.<(4))? 'fa-heart-o':'fa-heart' %>"></span>
      <span class = "fa <%= (date_idea.rating.<(5))? 'fa-heart-o':'fa-heart' %>"></span>

      <a href='/dates/<%= date_idea.id() %>'><%= date_idea.name %></a>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
