<h1><%= @date_idea.name %></h1>
<form action="/dates/<%= @date_idea.id %>/rating"  method="post">
  <button value=1 name="rating">
    <span class = "fa <%= (@date_idea.rating.<(1))? 'fa-heart-o':'fa-heart' %>"></span>
  </button>

  <button value=2 name="rating">
    <span class = "fa <%= (@date_idea.rating().<(2))? 'fa-heart-o':'fa-heart' %>"></span>
  </button>

  <button value=3 name="rating">
    <span class = "fa <%= (@date_idea.rating().<(3))? 'fa-heart-o':'fa-heart' %>"></span>
  </button>

  <button value=4 name="rating">
    <span class = "fa <%= (@date_idea.rating().<(4))? 'fa-heart-o':'fa-heart' %>"></span>
  </button>

  <button value=5 name="rating">
    <span class = "fa <%= (@date_idea.rating().<(5))? 'fa-heart-o':'fa-heart' %>"></span>
  </button>
</form>
<ul>
  <li><strong>Address:</strong>
    <% if @date_idea.address.!=("\n,").&(@date_idea.address.!=('')) %>
    <%= @date_idea.address %>
    <% else %>
    no address given
    <% end %>
  </li>
  <li><strong>Description:</strong>
    <% if @date_idea.description.!=('') %>
    <%= @date_idea.description %>
    <% else %>
    no description given
    <% end %>
  </li>
</ul>

<h3><strong>Categories:</strong></h3>
<% if @date_idea.tags == [] %>
<p>There are no categories for this date yet, add them below!</p>
<% else %>
<ul>
  <% @date_idea.tags.each do |tag| %>
  <li>
    <form action="/tags/<%= tag.id %>/remove/<%= @date_idea.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <button type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
    </form>
  </li>
  <% end %>
</ul>
<% end %>


<h3><strong>Add Catagories to this date</strong></h3>
<% if @tags == [] %>
<p>There are no categories to save to the date. <a href="/tags/new">Add a New Category</a></p>
<% else %>
<ul>
  <% @tags.each do |tag| %>
  <li>
    <form action="/tags/<%= tag.id %>/add/<%= @date_idea.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
    </form>
  </li>
  <% end %>
</ul>
<% end %>



<button><a href='/dates'>View All Dates</a></button>
<button><a href='/dates/new'>Add a New Date</a></button>
<button><a href='/dates/<%= @date_idea.id %>/edit'>Edit Date</a></button>
